{% extends 'base.html.twig' %}

{% block body %}

    <section id="livresSection">
        {% for livre in livres %}
            <div class="livre">
                {#<img class="livreImage" src="../../src/img/{{livre.image}}" alt="Image de livre">    Les images telecharge dans le dossier img#}
                <img class="livreImage" src="{{livre.imagelien}}" alt="Image de livre">
                <a class="livresTitresLiens" href="{{ path('livre', {'livreId':livre.id}) }}">
                    <h3 class="livresTitres">{{livre.titre}}</h3>
                </a>
            </div>
        {% endfor %}
    </section>
    <button id="createurLivre"> creer </button>

    {% block javascripts %}
        <script type="text/javascript" src="/InfiniteAuthors/src/js/livres.js"></script>
    {% endblock %}

{% endblock %}