{% extends 'base.html.twig' %}

{% block body %}

    <section id="gestionLivre">
        <div id="pageContenu">
            
        </div>
        <div id="options">

        </div>
    </section>

    {% block javascripts %}
        <script type="text/javascript" src="/InfiniteAuthors/src/js/livre.js"></script>
    {% endblock %}

{% endblock %}