{% extends 'base.html.twig' %}

{% block body %}

    <section id="gestionLivre">
        <div id="sectionCourantDiv">
            <h5 id="sectionCourantH">Section courant</h5>
            {% for section in sectionsRoute %}
                <h5 class="sectionRoute niveau{{loop.index0}}">
                    {% if not loop.first %}
                        <span>&#10149</span> {# Symbole de fleche #}
                    {% endif %}
                    {{section}}
                </h5>
            {% endfor %}
            <div>
                <a id="premierRetourAuMatieres" href="{{ path('tableDesMatieres', {'livre':livre.id}) }}">Table des matières</a>
            </div>
        </div>

        <div id="pageContenu">
            {{ form(formContenuPage) }}
            <button>Sauvegarder</button>
        </div>
    </section>

    {% block javascripts %}
        <script type="text/javascript" src="/InfiniteAuthors/src/js/page.js"></script>
    {% endblock %}

{% endblock %}