{% extends 'base.html.twig' %}

{% block body %}

    <section id="gestionLivre">
        <div id="pageContenu">
            {{ form(formContenuPage) }}
        </div>
    </section>

    {% block javascripts %}
        <script type="text/javascript" src="/InfiniteAuthors/src/js/page.js"></script>
    {% endblock %}

{% endblock %}