{% extends 'base.html.twig' %}

{% block body %}

    <div id="tableDesMatieres">
        <h1>Table des matières</h1>
        {% for section in sections %}
            <div class="section">
                <h4 class="titreSection nbtab{{section.niveau - 1}}">{{section.titre}}</h4>
                <a class="newSousSection" href="">
                    <img class="newSousSectionIcon" src="/InfiniteAuthors/src/img/plusIcon.png">
                    <span class="ssectionIconSpan">Sous-section</span>
                </a>
                <p class="tirets"></p>
            </div>
        {% endfor %}
        <div id="creationSection">
            <h3 id="creationSectionTitre">Créer une section</h3>
            <a id="newSection" href="">
                <img id="newSectionIcon" src="/InfiniteAuthors/src/img/plusIcon.png">
                <span class="sectionIconSpan">Section</span>
            </a>
        </div>
    </div>

    {% block javascripts %}
        <script></script>
        <script type="text/javascript" src="/InfiniteAuthors/src/js/tableDesMatieres.js"></script>
    {% endblock %}

{% endblock %}