{% extends 'base.html.twig' %}

{% block body %}
    <div id="authentificationDivs">
        <div id="inscriptionDiv">
            <h1>Inscription</h1>
            {{ form(formInscription) }}
            <button class="authentificationBtn" type="submit">S'inscrire</button>
        </div>
        <div id="connexionDiv">
            <h1>Connexion</h1>
            {{ form(formConnexion) }}
            <button class="authentificationBtn" type="submit">Se connecter</button>
        </div>
    </div>
{% endblock %}