{% extends 'base.html.twig' %}

{% block body %}
    <div id="inscriptionDiv">
        <h1>Inscription</h1>
        {{ form_start(formInscription) }}
        {{ form_widget(formInscription) }}
        <button type="submit" id="sInscrireBtn" class="authentificationBtn">S'inscrire</button>
        {{ form_end(formInscription) }}
    </div>
{% endblock %}